# ðŸ¦„ The Fantasy Zookeeper

**Scenario:**

Congratulations! You've been hired as a data analyst at Fantasy Zoo, the world's first zoo for mythical creatures. Your job is to analyze the data of the mythical creatures living at the zoo and provide insights to help improve their wellbeing.

You've been given a **dataset** containing the following columns:
* `creature_name`: Name of the creature
* `creature_type`: Type of the creature (e.g., dragon, unicorn, etc.)
* `age`: Age of the creature (in years)
* `health_status`: Health status of the creature (Excellent, Good, Fair, Poor)
* `magical_ability_score`: Score representing the creature's magical ability (0-100)

**Exercise:**

In order to organize the animals into different habitats, you've been asked to answer the fsome questions regarding this dataset:

In [7]:
import pandas as pd
import numpy as np
import random

random.seed(42)
np.random.seed(42)

# Define the number of creatures
num_creatures = 100

# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

1. Display the first 5 rows of the dataframe.

In [8]:
df.head()

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Phoenix   15          Fair                     19
1     Creature1       Mermaid  813          Poor                     58
2     Creature2       Griffin   65          Good                     35
3     Creature3       Mermaid  857          Fair                     18
4     Creature4       Mermaid  839          Poor                     89

2. Calculate and print the total number of creatures in the zoo.

In [15]:
unicorn_mask = df["creature_type"] == "Unicorn"
unicorn_df = df[unicorn_mask]
len(unicorn_df)

19

In [18]:
df["creature_type"].value_counts()

creature_type
Phoenix    25
Unicorn    19
Mermaid    17
Centaur    17
Griffin    11
Dragon     11
Name: count, dtype: int64

3. Calculate and print the average age of the creatures.

In [19]:
avg_age = df["age"].mean()
avg_age

517.97

In [21]:
df.groupby("creature_type")["age"].mean()

creature_type
Centaur    442.588235
Dragon     727.545455
Griffin    348.818182
Mermaid    692.058824
Phoenix    458.000000
Unicorn    485.157895
Name: age, dtype: float64

4. Find and print the name of the oldest creature.

In [26]:
max_age = df["age"].max()
max_age_index = np.argmax(df["age"])
df.iloc[max_age_index, 0]

'Creature40'

5. Identify and print the most common type of creature.

6. Find and print the average magical ability score for each type of creature.

7. Find the names of creatures who have a 'Poor' health status.

Remember, the happiness of the mythical creatures is in your hands. Happy analyzing! ðŸ’ª